body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
nav.nav-center ul {
text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

.brand-logo>img {
    height: 55px;
    margin: 5px;
}
.card-image .nav-wrapper .brand-logo{
    margin-left: 10px;
}
.card-image .nav-content .nav-title{
    margin-left: 10px;
}
.datepicker-date-display,.timepicker-digital-display{
    background-color: #001B58 !important;
}
.btn-flat.datepicker-cancel, .btn-flat.datepicker-done, .btn-flat.timepicker-close, .btn-flat.timepicker-close{
    color: #CA9C1D !important;
}
.is-today.is-selected{
    background-color: #001B58 !important;
}

.file-field.input-field > .btn{
    background-color:#CA9C1D !important;
}
nav li a.active{
    color: #CA9C1D !important;
}
.table-img{
    max-width: 2em;
}
.table-date{
    white-space: nowrap;
}


.bg-login-image {
    background-image: url('img/perrito.jpg');
    background-position: center; /* Posiciona la imagen en el centro */
    height: 400px; /* Ajusta la altura de la sección según sea necesario */
    width: 300px;

}

.perfilalumno {
    height: 250px; /* Ajusta la altura de la sección según sea necesario */
    width: 200px;
    background-position: center;

}